{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "import/no-extraneous-dependencies": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "jsx-a11y/anchor-is-valid": "off"
  }
}
