{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "no-underscore-dangle": "off",
    "react/prop-types": "off",
    "react/button-has-type": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "react/destructuring-assignment": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "typescript-eslint-parser",
      "plugins": [
        "typescript"
      ],
      "rules": {
        "no-undef": "off",
        "no-unused-vars": "off",
        "no-restricted-globals": "off",
        "no-use-before-define": "off"
      }
    }
  ]
}
